.o-header-primary {
  @extend .o-header;
  position: relative;
  height: 31.25rem;
  @include b-radius(0.625rem);
  background: url('https://res.cloudinary.com/dby4kdmbv/image/upload/v1616844078/coffeeroasters/cn6jejqangmyz5sgftat.jpg') no-repeat center/cover;


  @include breakpoint-up('md') {
    height: 43rem;
    background: url('https://res.cloudinary.com/dby4kdmbv/image/upload/v1616844078/coffeeroasters/onejmxgzclqbstxyzaj1.jpg') no-repeat center/cover;
  }

  @include breakpoint-up('lg') {
    height: 37.5rem;
    background: url('https://res.cloudinary.com/dby4kdmbv/image/upload/v1616844070/coffeeroasters/djgevn6zen1cl8qcpkj4.jpg') no-repeat center/cover;
    
  }

}


.o-header-primary-content {
  position: absolute;
  top: 6.25rem;
  text-align: center;

  .content-btn {

    margin-top: 2.5rem;
  }


  @include breakpoint-up('md') {
    width: 50%;
    text-align: left;
  }

  @include breakpoint-up('lg') {
    width: 70%;
  }

}




