.o-guide {
  text-align: center;
  @include padding-y(2.5rem);
  @include b-radius(0.625rem);


  @include breakpoint-up('md') {
    @include padding-y(4rem);
    text-align: left;
  }

  @include breakpoint-up('lg') {
    width: calc(100% - 10rem);
    margin-left: auto;
    margin-right: auto;
  }

}


.o-guide-header {
  text-align: center;
  
  .heading {

    margin-bottom: 3.5rem;
  }

  .steps-points {

    display: none;

    @include breakpoint-up('md') {
      display: flex;
      margin-bottom: 3.5rem;
    }

  }


  @include breakpoint-up('md') {
    text-align: left;
  }

}


.o-guide-btn {
  margin-top: 6rem;
}