.m-cards-third {


  @include breakpoint-up('md') {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}


.m-cards-third-card {

  &:not(:first-child) {

    margin-top: 3.5rem;


    @include breakpoint-up('md') {
      margin-top: 0;
    }

  }

}