.m-cards-second {

  &-card {

    &:not(:first-child) {

      margin-top: 1.5rem;


      @include breakpoint-up('lg') {
        margin-top: 0rem;
      }

    }

  }


  @include breakpoint-up('lg') {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
}

