.m-cards-primary {


  @include breakpoint-up('lg') {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
  }

}


.m-cards-primary-card {
  margin-top: 2rem;

  @include breakpoint-up('md') {
    margin-top: 1.5rem;
  }

}