.m-card-primary {
  @extend .m-card;
  width: 100%;
 

  @include breakpoint-up('md') {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  @include breakpoint-up('lg') {
    display: block;
  }

}


.m-card-primary-header {
  width: 100%;
  text-align: center;
}


.m-card-primary-body {
  width: 100%;
  
  .body-content {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;


    @include breakpoint-up('md') {
      width: 100%;
      margin: 0;
    }

  }
  
}






