.o-menu-bar-primary {
  @extend .o-menu-bar;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}


.o-menu-bar-primary {

  &-menu {

    display: none;


    @include breakpoint-up('md') {
      display: block;
    }

  }

  &-hamburger {
  
    
    @include breakpoint-up('md') {
      display: none;
    }

  }

}





