.o-footer-primary {
  @extend .o-footer;
  @include bg-color('ninth');
  padding-top: 3.3rem;
  padding-bottom: 3.3rem;
  text-align: center;


  @include breakpoint-up('lg') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}


.o-footer-primary-menu {
  margin-top: 3rem;


  @include breakpoint-up('lg') {
    margin-top: 0rem;
  }

}


.o-footer-primary-social {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  @include breakpoint-up('md') {
    margin-top: 5rem;
  }

  @include breakpoint-up('lg') {
    width: 40%;
    margin-top: 0rem;
    justify-content: flex-end;
  }

}